{{ define "invocation" }}
{{ template "header" . }}
<div id="content" class="uk-container uk-container-expand">
	<div class="uk-child-width-expand@s" uk-grid>
		<div>
			<ul class="uk-breadcrumb">
				<li><a href="/">Jobs</a></li>
				<li><a href="/job/{{ .ViewModel.JobName }}">{{ .ViewModel.JobName }}</a></li>
				<li><span>{{ .ViewModel.ID }}</span></li>
			</ul>
		</div>
		<div class="uk-flex-right uk-text-right">
			<a class="uk-button" href="/job.invocation.output/{{ .ViewModel.JobName }}/{{ .ViewModel.ID }}" uk-icon="download" uk-tooltip="Download Job Output"></a>
		</div>
	</div>
	<div class="uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-4">
		<div class="uk-first-child">
			<div class="uk-text-small uk-margin-small-bottom"><span class="uk-icon uk-text-primary uk-margin-small-right" uk-icon="info"></span>State</div>
			<div>
			{{ if .ViewModel.State | eq "running" }}
			<div uk-tooltip="Job is currently running" uk-spinner="ration: 0.5"></div>
			{{ else if .ViewModel.State | eq "cancelled" }}
			<span class="uk-text-warning" uk-icon="warning" uk-tooltip="Job was last cancelled"></span>
			{{ else if.ViewModel.State | eq "failed" }}
			<span class="uk-text-danger" uk-icon="warning" uk-tooltip="Job had a failure"></span>
			{{ else if .ViewModel.State | eq "complete" }}
			<span class="uk-text-success" uk-icon="check" uk-tooltip="Last invocation was a success"></span>
			{{ else }}
			<span class="uk-text-primary" uk-icon="question" uk-tooltip="Job has no history"></span>
			{{ end }}
			</div>
		</div>
		<div>
			<div class="uk-text-small uk-margin-small-bottom"><span class="uk-icon uk-text-primary uk-margin-small-right" uk-icon="history"></span>Started</div>
			<div>{{ .ViewModel.Started | rfc3339 }}</div>
		</div>
		<div>
			<div class="uk-text-small uk-margin-small-bottom"><span class="uk-icon uk-text-primary uk-margin-small-right" uk-icon="history"></span>Finished</div>
			<div>{{ if .ViewModel.Finished.IsZero }}-{{ else }}{{ .ViewModel.Finished | rfc3339 }}{{ end }}</div>
		</div>
		<div>
			<div class="uk-text-small uk-margin-small-bottom"><span class="uk-icon uk-text-primary uk-margin-small-right" uk-icon="clock"></span>Elapsed</div>
			<div>{{ if .ViewModel.Finished.IsZero }}{{ .ViewModel.Started | since_utc }}{{ else }}{{ .ViewModel.Elapsed }}{{ end }}</div>
		</div>
	</div>
	<hr/>
	{{ if .ViewModel.Err }}
	<div class="uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-1">
		<div>
			<span class="uk-text-small">
				Error
			</span>
			<pre>{{ .ViewModel.Err }}</pre>
		</div>
	</div>
	<hr/>
	{{ end }}
	<div class="uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-1">
		<div>
			<link rel="stylesheet" href="/static/css/xterm.css" />
			<script src="/static/js/xterm.js"></script>
			<script src="/static/js/fit.js"></script>
			<script src="/static/js/webLinks.js"></script>
			<div id="term-window"></div>
			<script>
				Terminal.applyAddon(fit);
				var term = new Terminal();
				term.open(document.getElementById('term-window'));
				term.cols = 240;
				term.resize();
				term.markers = [];
				/* code {{ range $index, $line := .ViewModel.Output.Lines }} */
				term.writeln("{{ $line.Data | as_string }}");
				/*{{ end }}*/
				/* {{ if .ViewModel.State | eq "running" }} */
				var es = new EventSource("/api/job.invocation.output.stream/{{ .ViewModel.JobName }}/{{ .ViewModel.ID }}");
				es.onmessage = (e) => {
					term.writeln(e.data);
				};
				/*{{ end }}*/
			</script>
		</div>
	</div>
</div>
{{ template "footer" . }}
{{ end }}